In [1]:
from sklearn import datasets
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB,GaussianNB
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import numpy as np

In [2]:
# load Data
data=datasets.fetch_20newsgroups()

In [4]:
print("Length of Data :\t",len(data.data))

Length of Data :	 11314

# Preprocessing

In [5]:
x=data.data
y=data.target

In [8]:
# raw input  Data look like
x[0:2]

["From: lerxst@wam.umd.edu (where's my thing)\nSubject: WHAT car is this!?\nNntp-Posting-Host: rac3.wam.umd.edu\nOrganization: University of Maryland, College Park\nLines: 15\n\n I was wondering if anyone out there could enlighten me on this car I saw\nthe other day. It was a 2-door sports car, looked to be from the late 60s/\nearly 70s. It was called a Bricklin. The doors were really small. In addition,\nthe front bumper was separate from the rest of the body. This is \nall I know. If anyone can tellme a model name, engine specs, years\nof production, where this car is made, history, or whatever info you\nhave on this funky looking car, please e-mail.\n\nThanks,\n- IL\n   ---- brought to you by your neighborhood Lerxst ----\n\n\n\n\n",
 "From: guykuo@carson.u.washington.edu (Guy Kuo)\nSubject: SI Clock Poll - Final Call\nSummary: Final call for SI clock reports\nKeywords: SI,acceleration,clock,upgrade\nArticle-I.D.: shelley.1qvfo9INNc3s\nOrganization: University of Washington\nLines: 11\nNNTP-Posting-Host: carson.u.washington.edu\n\nA fair number of brave souls who upgraded their SI clock oscillator have\nshared their experiences for this poll. Please send a brief message detailing\nyour experiences with the procedure. Top speed attained, CPU rated speed,\nadd on cards and adapters, heat sinks, hour of usage per day, floppy disk\nfunctionality with 800 and 1.4 m floppies are especially requested.\n\nI will be summarizing in the next two days, so please add to the network\nknowledge base if you have done the clock upgrade and haven't answered this\npoll. Thanks.\n\nGuy Kuo <guykuo@u.washington.edu>\n"]

In [9]:
# Target  class 
data.target_names

['alt.atheism',
 'comp.graphics',
 'comp.os.ms-windows.misc',
 'comp.sys.ibm.pc.hardware',
 'comp.sys.mac.hardware',
 'comp.windows.x',
 'misc.forsale',
 'rec.autos',
 'rec.motorcycles',
 'rec.sport.baseball',
 'rec.sport.hockey',
 'sci.crypt',
 'sci.electronics',
 'sci.med',
 'sci.space',
 'soc.religion.christian',
 'talk.politics.guns',
 'talk.politics.mideast',
 'talk.politics.misc',
 'talk.religion.misc']

In [11]:
# Y look likes
pd.DataFrame(y).head(10)

    0
0   7
1   4
2   4
3   1
4  14
5  16
6  13
7   3
8   2
9   4

In [12]:
 
clf=TfidfVectorizer()
p=clf.fit_transform(data.data)

In [13]:
x_train,x_test,y_train,y_test=train_test_split(data.data,data.target)
x1_train=clf.fit_transform(x_train)
x1_test=clf.transform(x_test)

In [14]:
clf1=MultinomialNB()
clf1.fit(x1_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [15]:
y_pred=clf1.predict(x1_test)

In [16]:
print("predicted data look likes")
y_pred[:100]

predicted data look likes

array([14,  7,  6, 17, 14,  6, 12, 17, 14,  8,  9, 15, 15, 12, 12, 10,  7,
       15,  4, 15, 10, 11, 18,  7, 11,  5, 15, 10,  4,  7, 13,  4,  7, 15,
        4,  5,  7,  9,  0, 11,  7,  3,  2, 13,  2, 14,  7,  1,  7,  9, 15,
       15, 18, 16, 15, 13,  8, 14,  5, 15, 16,  3,  9, 15, 14, 11, 17,  7,
        2, 17,  5, 16, 15,  4, 15, 10, 13, 16,  2, 14,  3, 16, 15,  6,  9,
       15,  0, 13, 17,  7,  3, 15,  3,  9,  8, 15,  3,  2, 17, 10])

In [20]:
print("\n\nScore on training data \t Score on testing data \n")
clf1.score(x1_train,y_train), clf1.score(x1_test,y_test)

Score on training data 	 Score on testing data

(0.9302298173246907, 0.8278543655001768)

In [21]:
# confusion matrix
pd.DataFrame(confusion_matrix(y_test,y_pred))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,90,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35,1,1,0,0
1,0,102,8,8,1,4,3,0,1,0,0,1,1,0,3,5,1,0,1,0
2,0,2,109,11,0,1,0,0,0,0,0,1,0,0,1,1,1,0,0,0
3,0,1,11,107,4,1,1,1,0,0,1,5,0,0,0,3,1,0,0,0
4,0,2,2,9,120,2,1,0,0,1,0,6,0,0,0,2,0,0,0,0
5,0,10,2,2,0,118,0,1,1,1,0,7,0,0,0,4,0,0,0,0
6,0,1,2,11,2,0,93,6,0,1,0,10,4,0,1,6,2,0,0,0
7,0,0,0,0,0,0,1,129,4,1,1,1,1,0,1,1,2,0,0,0
8,0,0,0,1,0,0,0,4,138,0,0,2,0,0,0,1,3,0,0,0
9,0,1,0,1,0,0,1,2,0,140,2,1,1,0,1,4,0,0,0,0
10,0,0,0,0,0,0,0,1,0,0,155,0,0,0,0,2,0,0,0,0
11,0,0,1,0,0,0,0,0,0,0,0,146,0,0,0,0,0,0,0,0
12,1,0,1,13,7,0,2,9,0,0,2,13,108,0,7,4,3,0,0,0
13,0,0,0,0,0,0,0,2,0,0,0,6,0,138,4,13,2,1,0,0
14,0,1,0,0,0,0,0,0,0,0,1,4,0,0,144,3,0,0,0,0
15,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,149,0,0,0,0
16,0,0,1,0,0,0,0,0,0,0,0,2,0,0,1,3,133,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,138,0,0
18,0,0,0,0,0,0,0,1,0,1,0,2,0,0,0,16,16,5,68,0
19,8,0,0,0,0,0,0,0,0,1,0,1,0,0,0,57,5,2,1,17

In [22]:
# classification report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.91      0.71      0.80       127
           1       0.85      0.73      0.79       139
           2       0.79      0.86      0.82       127
           3       0.65      0.79      0.71       136
           4       0.89      0.83      0.86       145
           5       0.94      0.81      0.87       146
           6       0.91      0.67      0.77       139
           7       0.83      0.91      0.87       142
           8       0.96      0.93      0.94       149
           9       0.96      0.91      0.93       154
          10       0.96      0.98      0.97       158
          11       0.70      0.99      0.82       147
          12       0.94      0.64      0.76       170
          13       1.00      0.83      0.91       166
          14       0.88      0.94      0.91       153
          15       0.48      0.98      0.65       152
          16       0.78      0.95      0.86       140
          17       0.94      1.00      0.97       138
          18       0.97      0.62      0.76       109
          19       1.00      0.18      0.31        92

   micro avg       0.83      0.83      0.83      2829
   macro avg       0.87      0.81      0.81      2829
weighted avg       0.87      0.83      0.82      2829

In [23]:
model = make_pipeline(TfidfVectorizer(), MultinomialNB())

In [24]:
model.fit(x_train,y_train)

Pipeline(memory=None,
     steps=[('tfidfvectorizer', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth...   vocabulary=None)), ('multinomialnb', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [25]:
pred=model.predict(x_test)

In [26]:
model.score(x_test,y_test)

0.8278543655001768

In [27]:
accuracy_score(y_test,y_pred)

0.8278543655001768